.TadoList {
  padding: 30px;
}

.TadoList input {
  width: 100px;
}

.TadoList li {
  margin: 10px 0;
  background: lightsteelblue;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TadoList li h2{
  font-weight: bolder;
}

.TadoList li .delete{
  color: white;
  background: slategray;
  font-weight: bold;
  border: 0;
  height: 25px;
  cursor: pointer;
  width: 100px;
  margin: 0 50px 0px 0px;
}
